.btn {

    border-width: 0px !important;
    width:auto;
    height:auto;
}
.titulo 
{
    font-family:'Passion One', sans-serif !important;
    font-size:xx-large !important;
}
.back1 {
   background-color: rgb(240, 236, 22);
}
.back2 {
    background-color:lawngreen;
 }

 .btn-primary {
     background-color: black;
 }

.card {
border-radius: 0 !important;

}
img {

    margin:auto!important;
    padding:auto !important;
}
.navbar-dark {
    background-color: black !important;
}